{% extends 'base.html' %}

{%block body%}
<div class = "container">
    <h1>Create project</h1><br>
    <form action="/create_project" method = "post">
        <ul class="menu_employee">
        <li><input type="text" class="form-control" name="name" id="name" placeholder="Name"></li><br>
        <li><input type="text" class="form-control" name="status" id="status" placeholder="status" list="lst_status"></li><br>
            <datalist id = "lst_status">
                <option value = "run" label = "run">
                <option value = "end" label="end">
            </datalist>
        <li><input type="text" class="form-control" name="descript" id="descript" placeholder="description"></li><br>
        <li><input type="number" class="form-control" name="budget" id="budget" placeholder="budget"></li><br>
        <li><input type="data" class="form-control" name="deadline" id="deadline" placeholder="deadline" min="2021-01-01" value="2022-01-01"></li><br>
            </ul>
        <button type="submit">Create</button>
    </form>
</div>
{%endblock%}